<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" href="css/style.css">
       <link rel="icon" href="/img/weather.png">       
       <title>Chat App</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <button id="increment">increment</button>
            
        </div>
        {{>footer}}
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/chat.js"></script>
    </body>
</html>