
/*Orange color: #e67e22*/
/*-------------------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html,body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial',sans-serif;/*If lato if not available*/
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; /*rendering in a perfect way*/
    overflow-x: hidden;
}

.clearfix{zoom:1}
.clearfix:after{/*clearing the FLOAT after an element*/
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*-------------BUTTONS--------------- */
.btn:link, /*link and visited will have the same behaviour*/
.btn:visited,
input[type=submit] {/*pseudo classes:link, visited, active and hover*/
    display: inline-block;
    padding: 10px 30px;/*top bottom left right*/
    font-weight: 300; /*scaling the weight*/
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s,border 0.2s, color 0.2s;
    transition: background-color 0.2s,border 0.2s, color 0.2s;    
}

input[type=submit]{
    background-color: #fff
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px
}

.btn-ghost:link,
.btn-ghost:visited,
input[type=submit]{
    border: 1px solid #e67e22;
    color: #e67e22
}

.btn:hover,
.btn:active,
input[type=submit]:hover{
    background-color: #cf6d17;
    cursor: pointer;/*I added this because was could not make appear hand in send it button*/
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #cf6d17
}

.btn-ghost:hover,
.btn-ghost:active,
input[type=submit]:hover{
    border: 1px solid #cf6d17;
    color: #fff
}

.btn-disabled {
    pointer-events: none;
    cursor: default;
}

/*-------------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*-------------------------------------------------------*/

.row {
    max-width: 1140px;/*absolute value in pixels*/
    /*margin: 0 auto 0 auto/*top right bottom left*/
    margin: 0 auto;/*top and bottom will be zero and left and rigth will be auto*/  
}

section {
    padding: 80px 0
}

/*-------------------------------------------------------*/
/*FORM*/
/*-------------------------------------------------------*/

.section-form {
    width: 80%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 1px 10px 0;/*top right bottom left*/
}

*:focus {
    outline: none; /*to avoid the fous when picking an input, or textarea*/
}

/*leftbar*/
.leftside{
    background-color: #e67e22;
    display:block;
    height: 100vh;
    width: 20%;
    float: left; /*very important in ordet to the next element also go on one edge with it*/
    position: fixed
}

.chat{
    width: 60%;    
    margin: 10px 10px 0 25% /*up right bottom left*/
}
/*
.box:last-child{
    position: relative;
    left: 0%;
    padding-left: 3%;
    margin-top: 70px;
}
*/